.App {
  text-align: center;
  margin-top: 1%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.searchIconButton {
  color: white !important;
  background: #db2828 !important;
}

.menuItem:hover {
  background-color: #f2f2f2 !important;
}

.customCard:hover {
  opacity: 0.9;
  transform: translateY(-1%);
}

.ui.card > .image > img,
.ui.cards > .card > .image > img {
  height: 200px;
}

.favouriteLabel:hover {
  opacity: 0.9;
  transform: translateY(-1%);
  cursor: pointer;
}

.favouriteLabel {
  color: #cccccc !important;
}
.profileImg {
  height: 75px !important;
  width: 75px !important;
}
